@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

@font-face {
  font-family: "Posterama";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Posterama.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "NocturnoStencil";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Nocturno Stencil Regular.otf");
  font-display: swap;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #2f2f2f;
  background: #222;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 2px #000;
  background: #0f0f0f;
}

/* MAIN */

html * {
  font-family: "Posterama", "Source Sans Pro", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

/* page loading */
#loading {
  display: flex;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.loadingindicator {
  border: 5px solid #aaa;
  border-top: 5px solid white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: auto;
  position: absolute;
  top: 47.5%;
  left: 47.5%;
  visibility: hidden;
  opacity: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.page { visibility: hidden; opacity: 0; transition: visibility 0s, opacity 1s linear; }
.page-vis { visibility: visible; opacity: 1; }
/* end page loading */

html {
  scroll-behavior: smooth;
  background-color: #000;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

hr {
  height: 1px;
  color: #555;
  width: 60%;
  border: none;
  border-bottom: 1px solid;
}

.home {
  display: block;
  width: 100%;
  height: 100vh;
  min-width: 100%
  min-height: 100%
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.fa_music {
  font-size: 40px;
}

.nav {
  margin: 0px 0 10px 0;
  width: : 100%; /* 400px */
  position: fixed;
  display: flex;
  justify-content: center;
  min-width: 100%;
  z-index: 2;
  padding-bottom: 10px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.nav-bar li {
  display: inline-block;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 8px 12px 8px;
  font-size: 17px;
  white-space: nowrap;
  width: 120px;
  text-align: center;
  z-index: 999;
}

.nav-bar li, .nav-bar li a, .nav-bar li a:active, .nav-bar li a:visited, .nav-bar li a:link {
  -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  z-index: 999;
}
.nav-bar li:hover {
  color: #000;
  background-color: #fff;
}

#journeyVideo {
  margin: 0 auto;
  width: 400px;
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  pointer-events: none;
  z-index: -3;
}

#journeyHeaderImage {
  width: 50%;
  position: fixed;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.gso_logo {
  width: 100%;
  height: auto;
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
  z-index: 2;
}

.gso_logo #gso_image {
  display: block;
  position: fixed;
  width: 300px;
  height: auto;
  padding-top: 27px;
  padding-left: 40px;
  image-rendering: -webkit-optimize-contrast;
  z-index: inherit;
}

#headphoneNoticeImg {
  width: 5%;
  position: fixed;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headphoneNotice #headphoneNoticeText {
  width: 200px;
  text-align: center;
  position: fixed;
  margin: 0;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  color: #fff;
}

p.muteLabel {
  text-align: right;
  position: fixed;
  width: auto;
  text-align: center;
  z-index: 999;
  transform: translate(-125%, -25%);
  color: #fff;
}

.down_btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
}

.mywork {
  color: #fff;
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
}

.mywork .top_text1 {
  font-family: "Source Sans Pro";
  word-wrap: break-word;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 6px;
  padding-bottom: 26px;
  padding-left: 16px;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.5);
}

.top_text1 h1 {
  bottom: 0;
  top: 0;
  margin: 7px 0 0 0;
}

#top_highlight #yt-play-btn {
  position: absolute;
  display: block;
  left: 50%;
  bottom: 160px;
  font-size: 14px;
  width: 10%;
  height: 7%;
  margin-left: -5%;
}

.highlights {
  margin-top: -35px;
  /* background-color: rgba(125, 125, 125, 0.1); */
}

.highlights h3 {
  padding-top: 30px;
}

.releaseentry {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: -2px;
  height: 150px;
}

.releaseentry::after {
  /* -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
  backdrop-filter: blur(4px) brightness(0.8); */
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -4px;
}

#releases {
  color: #fff;
  padding: 5px;
  position: relative;
  display: block;
  height: auto;
  background-color: rgba(90, 90, 90, 0.1);
}

#releases td {
  padding: 5px;
}

#releases a {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  color: inherit;
  padding: 8px;
}

#releases a:hover {
  color: #777;
}

#releases h1 {
  text-align: center;
}

#releases h2 {
  font-size: 30px;
}

#releases #leftside {
  width: 50%;
  float: left;
  padding: 20px;
  position: relative;
  display: block;
}

#releases #leftside h3 {
  font-size: 24px;
  text-align: center;
}

#releases #leftside * {
  text-align: center;
}

#releases #rightside {
  width: 50%;
  float: right;
  padding: 20px;
  position: relative;
  display: block;
}

#releases #rightside h3 {
  font-size: 24px;
  text-align: center;
}

#releases #rightside * {
  text-align: center;
}

#devprofile {
  margin: auto;
  width: 75%;
}

#devprofile object {
  fill: #aaa;
}

.end_part {
  background-color: rgba(125, 125, 125, 0.1);
}

.about {
  width: 45%;
  position: relative;
  color: white;
  overflow: hidden;
  margin: auto;
  padding-bottom: 30px;
  height: 580px;
}

.about img {
  padding-top: 19px;
  float: right;
  display: block;
}

.overlayImg {
  transform: translate(283px, 20px);
}

.about .bio {
  position: absolute;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  padding: 10px;
  margin-bottom: 80px;
}

.socials {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
}

.socials a {
  text-align: center;
  font-size: 30px;
  color: white;
  padding: 5px;
}

/* Non-PC CSS */

@media screen and (max-width: 1000px) {
  span {
    font-size: 12px;
  }
  html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  h1 {
    font-size: 34px;
  }

  .home {
    width: 100%;
    max-width: 100%;
  }

  #headphoneNoticeImg {
    width: 13%;
  }

  #journeyVideo {
    object-fit: cover;
    min-height: 50%;
    transform: translate(0%, -50%);
  }

  .nav {
    margin: 0 auto;
    padding-top: 25px;
  }

  .nav-bar li {
    border: 1px solid #fff;
    padding: 3px 4px 3px;
    font-size: 13px;
  }

  .gso_logo #gso_image {
    position: fixed;
    padding: 0;
    margin: 0 25% 0;
    width: 50%;
    padding-top: 9px;
    z-index: 1;
  }

  #top-poster {
    width: 130%;
    margin-left: -15%;
  }

  .mywork .top_text1 {
    width: 100%;
  }

  #top_highlight #yt-play-btn {
    bottom: 140px;
    z-index: 999;
    font-size: 12px;
    width: 100px;
    height: 40px;
    margin-left: -50px;
  }

  .about {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 24px !important;
  }
  h2 {
    font-size: 20px !important;
  }
  h3 {
    font-size: 16px !important;
  }
  #releases #leftside {
    width: 100%;
    float: none;
    padding: 20px;
  }
  #releases #rightside {
    width: 100%;
    float: none;
    padding: 20px;
  }
  html {
    font-size: 12px !important;
  }

  #releases img {
    width: 80px;
    height: 80px;
  }

  .fa_music {
    font-size: 30px;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 24px !important;
  }

  h2 {
    font-size: 18px !important;
  }

  h3 {
    font-size: 14px !important;
  }

  span {
    font-size: 8px;
  }

  .nav {
    padding-top: 10px;
  }

  .nav-bar li {
    border: 1px solid #fff;
    padding: 1px 0 1px;
    font-size: 10px;
    width: 70px;
  }
  #journeyVideo {
    width: 250px;
  }

  .gso_logo #gso_image {
    position: fixed;
    width: 50%;
    margin: 0 25% 0;
    z-index: 1;
  }

  #top-poster {
    width: 160%;
    margin-left: -30%;
  }

  #top_highlight #yt-play-btn {
    bottom: 160px;
    z-index: 999;
  }
}

/* ANIMATIONS */



input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: transparent;
  border: 0;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 0.875) !important;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  height: 2.75rem;
  letter-spacing: 0.15rem;
  line-height: 2.75rem;
  padding: 0 1.5rem 0 1.65rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  box-shadow: inset 0 0 0 2px #ffe4b4;
  color: #ffe4b4 !important;
}

input[type="submit"]:visited,
input[type="reset"]:visited,
input[type="button"]:visited,
button:visited,
.button:visited {
  box-shadow: inset 0 0 0 2px #ffe4b4;
  color: #ffe4b4 !important;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
  background-color: rgba(255, 228, 180, 0.125);
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
  display: inline-block;
  position: relative;
  top: -0.075rem;
  vertical-align: middle;
  font-size: 0.8rem;
  margin: 0 0.375rem 0 -0.325rem;
}

input[type="submit"].icon.circle,
input[type="reset"].icon.circle,
input[type="button"].icon.circle,
button.icon.circle,
.button.icon.circle {
  position: relative;
  width: 3.125rem;
  height: 3.125rem;
  line-height: 3.125rem;
  text-indent: 3.125rem;
  border-radius: 100%;
  overflow: hidden;
  padding: 0;
  letter-spacing: 0;
}

input[type="submit"].icon.circle:before,
input[type="reset"].icon.circle:before,
input[type="button"].icon.circle:before,
button.icon.circle:before,
.button.icon.circle:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  font-size: 1.25rem;
  line-height: inherit;
  margin: 0;
  text-indent: 0;
}

input[type="submit"].icon.circle.fa-angle-left:before,
input[type="reset"].icon.circle.fa-angle-left:before,
input[type="button"].icon.circle.fa-angle-left:before,
button.icon.circle.fa-angle-left:before,
.button.icon.circle.fa-angle-left:before {
  position: relative;
  left: -0.1rem;
  font-size: 1.75rem;
}

input[type="submit"].icon.circle.fa-angle-right:before,
input[type="reset"].icon.circle.fa-angle-right:before,
input[type="button"].icon.circle.fa-angle-right:before,
button.icon.circle.fa-angle-right:before,
.button.icon.circle.fa-angle-right:before {
  position: relative;
  left: 0.1rem;
  font-size: 1.75rem;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
  width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
  font-size: 0.4rem;
  height: 1.875rem;
  line-height: 1.875rem;
  padding: 0 1.25rem 0 1.4rem;
}

input[type="submit"].large,
input[type="reset"].large,
input[type="button"].large,
button.large,
.button.large {
  font-size: 0.8rem;
  height: 3.3125rem;
  line-height: 3.3125rem;
  padding: 0 2rem 0 2.15rem;
}

input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
button.primary,
.button.primary {
  background-color: white;
  box-shadow: none;
  color: #000 !important;
}

input[type="submit"].primary.color1,
input[type="reset"].primary.color1,
input[type="button"].primary.color1,
button.primary.color1,
.button.primary.color1 {
  color: #000 !important;
}

input[type="submit"].primary.color2,
input[type="reset"].primary.color2,
input[type="button"].primary.color2,
button.primary.color2,
.button.primary.color2 {
  color: #e37b7c !important;
}

input[type="submit"].primary.color3,
input[type="reset"].primary.color3,
input[type="button"].primary.color3,
button.primary.color3,
.button.primary.color3 {
  color: #ffe4b4 !important;
}

input[type="submit"].primary.color4,
input[type="reset"].primary.color4,
input[type="button"].primary.color4,
button.primary.color4,
.button.primary.color4 {
  color: #353865 !important;
}

input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover {
  background-color: #333333;
}

input[type="submit"].primary:active,
input[type="reset"].primary:active,
input[type="button"].primary:active,
button.primary:active,
.button.primary:active {
  background-color: #333333;
}

input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}
