@font-face {
    font-family: "Posterama";
    src: url("/public/fonts/Posterama.woff") format("woff");
    font-weight: normal;
    font-display: swap;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    color: white;
    font-family: "Posterama", sans-serif;
    scroll-behavior: smooth;
}

html, body {
    background-color: black;
    overflow-x: hidden;
    margin: 0;
}

button {
    background: none;
    border: none;
    padding: 6px;
}

.nav-btn {
    border-radius: 50%;
    transition: transform 1500ms cubic-bezier(0, 0, 0, 1),
                border-radius 700ms cubic-bezier(0, 0, 0, 1);
    will-change: transform;
}

.nav-btn:hover {
    border-radius: 0;
    transform: rotate(405deg) scale(1.2);
}

.nav-btn > div > * {
    opacity: 1;
    width: 2px;
    transition: opacity 700ms cubic-bezier(0, 0, 0, 1),
                width 700ms cubic-bezier(0, 0, 0, 1);
}

.nav-btn:hover > div > div:nth-child(1) > div:nth-child(1),
.nav-btn:hover > div > div:nth-child(1) > div:nth-child(3),
.nav-btn:hover > div > div:nth-child(3) > div:nth-child(1),
.nav-btn:hover > div > div:nth-child(3) > div:nth-child(3) {
    opacity: 0;
}

.full-nav {
    visibility: visible;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 800ms cubic-bezier(0, 0, 0, 1);
}

.full-nav * {
    font-size: 2em;
}

.full-nav.hidden {
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
}

.full-nav button {
    cursor: pointer;
}

.full-nav.hidden button {
    pointer-events: none;
}

.full-nav li {
    transform: translateY(0) translateX(0);
    transition: all 1200ms cubic-bezier(0, 0, 0, 1);
    will-change: transform;
    width: max-content;
}

.full-nav li:hover {
    transform: translateX(15px);
}

.full-nav.hidden li {
    transform: translateY(30px) translateX(60px);
}

.full-nav ul {
    list-style-type: none;
}

.full-nav button {
    color: #444444;
    text-decoration: none;
    transition: color 300ms cubic-bezier(0, 0, 0, 1);
}

.full-nav button:hover {
    color: white;
}
